<table width="60%">
	<tr>
		<th width="20%">Nom</th>
		<td width="80%">{{contact.nom}}</td>
	</tr>
	<tr>
		<th width="20%">Email</th>
		<td width="80%">{{contact.email}}</td>
	</tr>
	<tr>
		<th width="20%">Tel</th>
		<td width="80%">{{contact.tel}}</td>
	</tr>
	<tr>
		<th width="20%">Message</th>
		<td width="80%">{{contact.nom}}</td>
	</tr>





</table>